@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="display-4">@ViewBag.Greeting from Azure DevOps!</h2>
    <p class="lead">This is a simple WebApp to demonstrate DevOps practices and scenarios.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="https://azure.microsoft.com/en-us/services/devops/" role="button">Learn more</a>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>How to</h2>
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/azure/devops/user-guide/index?view=vsts">Start using Azure DevOps</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started-yaml?view=vsts">Azure Pipelines using GitHub Repository</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/devops/project/navigation/index?view=vsts&tabs=new-nav">Use the new web portal</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/index?view=vsts">Azure Pipelines</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/devops/boards/index?view=vsts">Azure Boards</a></li>
            <li><a href=https://docs.microsoft.com/en-us/azure/devops/test/index-tp?view=vsts">Azure TestPlans</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/devops/artifacts/index-a?view=vsts">Azure Artefacts</a></li>
        </ul>
    </div>
</div>
